.header {
    background-color: #41b3cd;
    padding: 10px;
}

.background {
    display: inline-block;
    background-color: #41b3cd;
    width: 100%;
    height: 290px;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1000;
}

.title {
    width: 22%;
    display: block;
    /*background-color: tomato;*/
}

/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #41b3cd;
    z-index: 1;
}

/* Navbar links */
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 14px;
    text-decoration: none;
}

/* Page content */
.content {
    padding: 16px;
    text-align: center;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.list_element {
    display: inline;
}