body {
    background: #e5e5e5;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.mainContainer {
    margin-top: 100px;
}

.personal-card {
    background-color: #4c4a46;
    text-align: center;
    padding-top: 10px;
    color: white;
}
/*
.center-img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
*/
.margin-img {
    width: 125px;
    border-radius: 65px;
}

.media-link {
    display: inline;
}

.media-link i {
    font-size: 24px;
    padding: 5px;
}

.media-link a {
    color: #fff;
}

.button {
    background: none;
    border-color: #fff;
    min-width: 145px;
    border-radius: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.padding-button {
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    color: #4dbfd9;
    text-decoration: none;
}

.about {
    background-color: #ffffff;
    text-align: left;
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.active-color {
    color:#4dbfd9;
}

.border-dashed {
    width: 100%;
    height: 1px;
    margin: 14px 0;
    overflow: hidden;
    background: url("../img/dashed-img.png") repeat-x;
}

.signature-size {
    width: 135px;
    margin-bottom: 25px;
}

.list {
    list-style: none;
    padding-left: 0px;
}

.work {
    background-color: #ffffff;
    text-align: left;
    padding: 10px;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
}

.title {
    margin-left: 6%;
}

.xpCase {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.xpCase:hover {
    transform: scale(1.05);
}

.backDate {
    background-color: #f1f1f1;
}

.date {
    margin-top: 15px;
    margin-bottom: 15px;
}

.info {
    margin-top: 15px;
    margin-bottom: 0px;
}

.xpShadow {
    box-shadow: 2px 2px 5px rgba(183, 183, 183, 0.4);
}

.education {
    background-color: #ffffff;
    text-align: left;
    padding: 10px;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
}

.imgEducation {
    width: 123%;
    height: 100%;
    margin-left: -15px;
    margin-right: -15px;
}

@media only screen and (max-width: 767px) {
    .imgEducation {
        width: 108%;
        margin-left: -15px;
    }
}

.contact {
    background-color: #ffffff;
    text-align: left;
    margin-top: 20px;
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
}

textarea {
    resize: none;
}

.contactCase {
    margin-left: 6%;
    margin-right: 6%;
}

.skill {
    background-color: #ffffff;
    text-align: left;
    margin-top: 20px;
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
}

.skill i {
    font-size: 50px;
    padding: 5px;
}

.skill img {
    width: 50px;
    padding: 5px;
}